html {
    height:100vh;
}

body {
    height:100%;
}

#root {
    margin-top:100px;
}


.hidden {
    display:none;
}
li {
    margin:20px;
}

h1.navbar-brand {
    font-size:4.25rem;
    float:left;
    margin-left: 20px;
}

.bn1 {
    color:black

}

.btn:focus {
    outline:none !important;
}

.title {
    float:right
}

.form-box {
    margin:auto;
    width:50%
}

.options {
    display:inline;
}

.add_link {
    color:green;
}

.welcome-nav {
    background-color: #f6f6f8;

}

img.schedule {
    width:100%;
}

.pic-wrapper {
    float:left;
    width:85px;
    height:auto;
}
table.table {
    max-width:70%;
    margin:auto;
}


.no-appts {
    text-align:center;
}
@media (max-width:425px) {
    h1.navbar-brand {
        font-size:15.2vw;
    }
    
}

